body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right,orange,white,green);
    text-align: center;
    margin: 50px;
}
h1{
    color: blue;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.container {
    background: rgb(232, 233, 239);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
    width: 500px;
    height: auto;
    margin: auto;
    align-items: center;

}
label{
    font-weight: bold;
}
textarea{
    width: 500px;
    height: 100px;
}
#target_language{
    width: auto;
    height: 25px;
    margin-top: 10px;
    margin-left: 20px;
}

button {
    background: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width:auto;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 80px;
}
#result,label{
    color:rgb(5, 5, 84); ;
}
