<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indi Translate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function translateText(event) {
            event.preventDefault();

            let formData = new FormData(document.getElementById("translateForm"));

            fetch("/translate", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.translated_text) {
                        document.getElementById("translatedText").innerText = data.translated_text;
                        document.getElementById("result").style.display = "block";
                    } else {
                        document.getElementById("translatedText").innerText = "Error in translation.";
                    }
                })
                .catch(error => console.error("Error:", error));
        }
    </script>
</head>

<body>
    <div class="main">
        <div class="container">
            <h1>Indi Translate</h1>

            <form id="translateForm" onsubmit="translateText(event)">
                <label for="text">Text:</label>
                <textarea id="text" name="text" required></textarea>
                <br>
                <label for="target_language">Select a Language:</label>
                <select id="target_language" name="target_language">
                    <option value="hi">Hindi</option>
                    <option value="ta">Tamil</option>
                    <option value="te">Telugu</option>
                    <option value="kn">Kannada</option>
                    <option value="ml">Malayalam</option>
                    <option value="bn">Bengali</option>
                    <option value="mr">Marathi</option>
                    <option value="gu">Gujarati</option>
                    <option value="pa">Punjabi</option>
                    <option value="as">Assamese</option>
                    <option value="brx">Bodo</option>
                    <option value="mni">Manipuri</option>
                    <option value="lus">Mizo</option>
                    <option value="ne">Nepali</option>
                </select>

                <button type="submit">Submit</button>
            </form>

            <div id="result" style="display: none;">
                <h3>Translated Text:</h3>
                <p id="translatedText"></p>
            </div>
        </div>
    </div>
</body>

</html>